<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zirauser.dao.UserMapper">
    <resultMap id="UserMap" type="com.example.zirauser.entity.User">
        <id column="user_id" property="id" jdbcType="VARCHAR"/>
        <result column="work_user_id" property="workUserId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="user">
        user_id, work_user_id, name, mail
    </sql>

    <select id="getUserById" resultMap="UserMap">
        SELECT
        <include refid="user"/>
        FROM user
        WHERE user_id = #{id}
    </select>

    <insert id="addUser" parameterType="com.example.zirauser.entity.User">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT uuid()
        </selectKey>
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            user_id,
            work_user_id,
            <if test="name != null">
                name,
            </if>
            <if test="mail != null">
                mail,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            #{id},
            #{workUserId},
            <if test="name != null">
                #{name},
            </if>
            <if test="mail != null">
                #{mail},
            </if>
        </trim>
    </insert>

    <update id="updateUser">
        UPDATE user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="mail != null">
                mail = #{mail},
            </if>
        </set>
        WHERE user_id = #{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM user WHERE user_id = #{id}
    </delete>

    <select id="getUserByIds" resultMap="UserMap">
        SELECT
        <include refid="user"/>
        FROM user
        WHERE user_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <select id="getAllUser" resultMap="UserMap">
        SELECT
        <include refid="user"/>
        FROM user
    </select>
</mapper>